
*{
    margin: 0;
    padding: 0;
}

/*l'emplacement et l'agrandissement de la ligne noire */
ul {
    background-color:black;
    border: 30px black solid;
}
/*l'emplacement et l'écart des textes acceuil,contact,tableau */
li {
    display: inline-block;
    margin-left: 20px;
}
/*ligne noir pour acceuil,contact,tableau*/
a {
    
    color:white;

}

/*colonne d'image droite en gris*/
.colonneGrise {
    background-color: rgb(211, 204, 204);
    width: 700px;
    height: 400px;
}
/*taille de la colonne grise*/
.container {
    display: flex;
    justify-content:space-between;

}
/*photo de la promotion sur les lames de térrasse*/
.logo {
    display: flex;
    justify-content: space-between;
}
/*texte tout le jardin*/
span{
    font-size: 40px;
    text-align: center;
}


/*responsive*/
@media screen and (max-width:768px) {
    
.colonneGrise{
    display: none;

}

p {
font-size: 20px;
}

li { 
    display: block;
}
a{
    color: white;
}
}


